* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 1px solid grey;
    outline: none;
}

button {
    padding: 10px;
    background: grey;
    border: unset;
    cursor: pointer;
}

a {
    color: rgb(29, 24, 24);
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

.msg {
    border: 2px solid orange;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.logout {
    text-align: center;
    background: orange;
}